#add for board init.rc for recovery mode
import /init.recovery.common.rc
# Fix flashlight on orangefox
on property:ro.orangefox.boot=1
    mkdir /tmp/flashlight
    write /tmp/flashlight/max_brightness "1"
    symlink /sys/devices/virtual/camera/flash/rear_flash /tmp/flashlight/brightness
