on init
    # from recovery: init.recovery.samsung.rc
    # unlink /efs > /mnt/vendor/efs
    rm /efs
    mkdir /efs
    mkdir /sec_efs

    chown system root /proc/cptl/wdtirq
    chmod 766 /proc/cptl/wdtirq

on post-fs
    # from vendor/etc/init/init.md.rc
    insmod ${ro.vendor.ko.mount.point}/socko/focaltech_ft8756_spi_ts.ko
    insmod ${ro.vendor.ko.mount.point}/socko/Vtxs200x.ko
    insmod ${ro.vendor.ko.mount.point}/socko/akm4377.ko
    insmod ${ro.vendor.ko.mount.point}/socko/mali_kbase.ko
    insmod ${ro.vendor.ko.mount.point}/socko/sprdwl_ng.ko

    chown system system sys/class/sec/tsp/input/enabled
    chmod 664 sys/class/sec/tsp/input/enabled
